.Mondуy>ul>li:last-child {
color: gold;
}
.Tusday>ul>li:first-child{
    color: brown;
}
.Wenesday>ul>li:nth-child(2) {
    color: blueviolet;
}
.Thursday>ul>li:nth-last-child(4) {
    color: blue;
}
.Friday>ul>li:only-child {
    color: fuchsia;
}

.Mondey ul>li:hover {
    color: tomato;
}
.Tusday ul>li:hover {
    color: gray;
}

.Wenesday ul>li:hover {
    color: aquamarine;
}
.Thursday ul>li:hover {
    color: thistle;
}
.Friday ul>li:hover {
    color: khaki;
}