.Mondey ul>li:hover:hover {
    color: tomato;
}
.Tusday ul>li:hover {
    color: gray;
}
 HEAD
.yellow{
    color: yellow;
}
text-box div> p{
    color: red;
}
.text-box p:nth-last-child(2) {
    color: green;
}
.Wenesday ul>li:hover {
    color: aquamarine;
}
.Thursday ul>li:hover {
    color: thistle;
}
.Friday ul>li:hover {
    color: forestgreen;
}